spring:
  application:
    name: fundamentos01

  # Base de datos H2 en memoria (para desarrollo)
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # Configuración de H2 Console (acceso web)
  h2:
    console:
      enabled: true
      path: /h2-console

  # Configuración JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

server:
  port: 8080